<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_title %><br>
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :job_found_at %><br>
    <%= f.text_field :job_found_at %>
  </div>
  <div class="field">
    <%= f.label :date_applied %><br>
    <%= f.date_select :date_applied %>
  </div>
  <div class="field">
    <%= f.label :employer_response_date %><br>
    <%= f.date_select :employer_response_date %>
  </div>
  <div class="field">
    <%= f.label :salary_bool %><br>
    <%= f.check_box :salary_bool %>
  </div>
  <div class="field">
    <%= f.label :salary_if_known %><br>
    <%= f.check_box :salary_if_known %>
  </div>
  <div class="field">
    <%= f.label :hourly_wage_bool %><br>
    <%= f.check_box :hourly_wage_bool %>
  </div>
  <div class="field">
    <%= f.label :hourly_wage_amount %><br>
    <%= f.text_field :hourly_wage_amount %>
  </div>
  <div class="field">
    <%= f.label :salary_amount %><br>
    <%= f.number_field :salary_amount %>
  </div>
  <div class="field">
    <%= f.label :interview_one %><br>
    <%= f.text_field :interview_one %>
  </div>
  <div class="field">
    <%= f.label :interview_two %><br>
    <%= f.text_field :interview_two %>
  </div>
  <div class="field">
    <%= f.label :interview_three %><br>
    <%= f.text_field :interview_three %>
  </div>
  <div class="field">
    <%= f.label :job_notes %><br>
    <%= f.text_area :job_notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
